.devcontainer
.github
.venv
.vscode.example
tools
.cursorignore
.env
README_devin.cursorrules.md
requirements-devin.txt

# Database
data

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg